/* Styling for buttons */

// Contact buttons
// --------------------------------------------------

// Container for contact icon button groups
.contact-icons {
  text-align: center;

  .btn-link {
    opacity: 0.5;
    &:hover, &:focus {
      opacity: 1;
    }
  }
}

// Contact button text
.btn span.contact-btn-text {
  // make text invisible on xs screen widths
  @media #{$xs-query} {
    display: none;
  }
}

// Misc
// --------------------------------------------------

// Remove top margin to subsequent block-width items
.btn-block + .btn-block {
  margin-top: 0;
}