/* Styles for contact sections */

// Contact buttons
// --------------------------------------------------

// Container for contact icon button groups
.contact-icons {
  text-align: center;

  .btn-link {
    .svg {
      @include transition(all 0.4s);
      opacity: 0.5;
    }
    &:hover, &:focus {
      .svg {
        opacity: 1;
      }
    }
  }
}