/* General styling */

/* PAGE CONTENT */

// Highlight colors
::selection {
  background: $selection-bg; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $selection-bg; /* Gecko Browsers */
}

html, body {
  height: 100%; // For parallax scrolling
}

body {
  position: relative; // For parallax scrolling
  font-weight: 300; // default font is Roboto Light
}

// SVG
.svg {
  vertical-align: bottom;
}


// Content divs
.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

// Links with arrow-right.svg after link text
.arrow-link {
  color: $text-color;
  &:after {
    @include transition(all 0.2s);
    position: relative;
    bottom: 2px;
    // TODO: best practices on relative paths in SASS
    content: url('../svg/arrow-right-primary.svg');
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  &:hover {
    &:after {
      // TODO: vendor prefixes
      transform: translate(5px);
    }
  }
}

body > footer {
  background-color: $gray-darker;
  color: $text-muted;
  font-size: 13px;
  padding: 19px;
}