/* General styling */

/* PAGE CONTENT */

// Highlight colors
::selection {
  background: $selection-bg; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $selection-bg; /* Gecko Browsers */
}

html, body {
  height: 100%; // For parallax scrolling
}

body {
  position: relative; // For parallax scrolling
  font-weight: 300; // default font is Roboto Light
}

// SVG
.svg {
  vertical-align: bottom;
}


// Content divs
.content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: $gray-darker;
  color: $text-muted;
  font-size: 13px;
  text-align: center;
  padding: 19px;
}