/* page header */

#page-header {
  margin: 0;
  border: none;
  background: $brand-primary;

  // Row of link icons in header
  .contact-icons {
    text-align: center;

    .btn-link {
      opacity: 0.5;
      &:hover, &:focus {
        opacity: 1;
        background-color: transparent;
      }
    }

  }
}

.page-title, .page-subtitle {
  font-weight: 100;
  text-align: center;
}
.page-title .page-subtitle {
  display: block;
}
small.page-subtitle {
  color: $text-color;
}

hr.header {
  border: none;
  background-color: white;
  height: 1px;
  margin: auto;
  max-width: 1050px;
}