/* page header */

#page-header {
  margin: 0;
  background: $brand-primary;
}

.page-title {
  font-weight: 100;
  text-align: center;
}

hr.header {
  border: none;
  background-color: white;
  height: 1px;
  margin: auto;
  max-width: 1050px;
}