/* Styles for navbar */

// Navbar TODO: move to bootswatch theme? make sure box shadow doesn't show on header
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  @include box-shadow(none);

  // Hide navbar-brand when not affixed
  .navbar-brand {
    visibility: hidden;
    opacity: 0;
  }
  .navbar-nav li {
    // Hide nav links when not affixed on wide viewports
    @media (min-width: $grid-float-breakpoint) {
      visibility: hidden;
      opacity: 0;
    }
    // Keep them visible on narrow viewports
    visibility: visible;
    opacity: 1;
  }

  &.affix {
    @include box-shadow($md-navbar-shadow);

    .navbar-brand, .navbar-nav li {
      visibility: visible;
      opacity:1;
    }
  }
}


.navbar-brand {
  font-family: $font-family-sans-serif;
  font-weight: 300;
  @include transition(all 0.2s);
}


.nav > li > a {
  font-family: $headings-font-family;
}


// Ensure affixed elements appear above other elements
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
  // For smoother affixing
  & ~ .container-fluid {
    position: relative;
    top: 50px;
  }
}

// navbar container minimum height set to match navbar's to avoid jump affix
div.navbar-container {
  min-height: 64px;
  width: 100%;
  display: table;
}

// Add top margin to first section after navbar container
div.navbar-container + div {
  margin-top: 21px;
}

// Animated navbar toggle
.navbar-toggle {
  float: left;
  margin-left: $navbar-padding-horizontal;
  margin-right: 0;
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
    }
  }
}