/* Styling for resume section */

// Job listing in experience section
.job {
  margin-bottom: 1em;

  .job-title {
    font-weight: bold;
    text-align: left;
    float: left;
  }
  .job-dates {
    font-weight: 300;
    text-align: right;
    float: right;
    // Display below .job-title on its own line on small screens
    @media (max-width: $screen-xs-min) {
      width: 100%;
      text-align: left;
      float: left;
    }
  }
  .job-location {
    font-weight: 300;
    color: $text-muted;
  }
}