/* Styles for content sections */

// About section
// --------------------------------------------------

.about-photo {
  border-radius: 50%;
  width: 10em; // TODO: use different units
  margin-bottom: 21px;
  @include box-shadow($md-content-shadow);
  @include user-select(none);
}

// Resume section
// --------------------------------------------------

// Job listing in experience section
.job {
  font-family: $headings-font-family;
  margin-bottom: 1.25em;

  .job-title {
    font-weight: 400;
    text-align: left;
    float: left;
  }
  .job-dates {
    font-weight: 300;
    text-align: right;
    float: right;
    // Display below .job-title on its own line on small screens
    @media (max-width: $screen-xs-min) {
      width: 100%;
      text-align: left;
      float: left;
    }
  }
  .job-location {
    font-weight: 300;
    color: $text-muted;
  }
}

// Projects section
// --------------------------------------------------

.project {
  padding-bottom: 12px;
  margin-bottom: $line-height-computed;
  border-bottom: $hr-border solid 1px;
  .project-title {
    font-weight: 300;
  }
  .project-image {
    img {
      width: 60%;
      // Use larger width on smaller viewports
      @media (max-width: $screen-xs-min) {
        width: 75%;
      }
    }
  }
}

// Contact section
// --------------------------------------------------

// Container for contact icon button groups
.contact-icons {
  text-align: center;

  .btn-link {
    .svg {
      @include transition(all 0.4s);
      opacity: 0.5;
    }
    &:hover, &:focus {
      .svg {
        opacity: 1;
      }
    }
  }
}

