/* Styling for typography */

// Use Roboto Condensed to bold tags
b {
  font-family: $headings-font-family;
}

// Center section titles
.section-title {
  text-align: center;
  margin-top: 10.5px;
  margin-bottom: 21px;
  padding-bottom: 12px;
  border-bottom: $hr-border solid 2px;
}

// Class to underline text with brand-secondary
.subsection-title {
  font-weight: 300;
  border-bottom: $hr-border solid 1px;
}