/* Variable declarations */

/* Colors */
$brand-secondary: #3021C8;
$selection-bg: transparentize($brand-secondary, 0.5);
// Oceanic Next colors
$oceanic-next-red: #EC5f67;
$oceanic-next-orange: #F99157;
$oceanic-next-yellow: #FAC863;
$oceanic-next-green: #99C794;
$oceanic-next-teal: #5FB3B3;
$oceanic-next-blue: #6699CC;
$oceanic-next-purple: #C594C5;


/* Shadows */
$md-content-shadow: 0 3px 6px rgba(0,0,0,0.16),
                    0 3px 6px rgba(0,0,0,0.23);
$md-image-shadow: 0 6px 12px rgba(0,0,0,0.16),
                  0 6px 12px rgba(0,0,0,0.23);
$md-navbar-shadow: 0 2px 2px rgba(0,0,0,.3);
$md-dropdown-shadow: 0 1px 4px rgba(0,0,0,.3);
