/* Variable declarations */

/* Colors */
$brand-secondary: #304FFE;
$selection-bg: transparentize($brand-secondary, 0.5);

/* Shadows */
$md-content-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$md-navbar-shadow: 0 1px 2px rgba(0,0,0,.3);
$md-dropdown-shadow: 0 1px 4px rgba(0,0,0,.3);

/* Device Widths */
$xs: 768px; // Bootstrap's max-width for phones
$sm: 768px; // Bootstrap's min-width for tablets
$md: 992px; // Bootstrap's min-width for desktops
$lg: 1200px;// Bootstrap's min-width for large desktops

/* Media Queries */
$xs-query: "(max-width: #{$xs})";
$sm-query: "(min-width: #{$sm}) and (max-width: #{$md})";
$md-query: "(min-width: #{$md}) and (max-width: #{$lg})";
$lg-query: "(min-width: #{$lg})";
