/* Import Roboto Thin, Light, Normal */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

/* VARIABLES */
/* Colors */
// General
$text-shadow-color: rgba(33, 33, 33, 0.40);
$navbar-color: rgba(33, 33, 33, 0.99);
// Contact links
$github: #464545;
$linkedin: #008CC9;
$bitbucket: #205081;
$email: #d14836;

/* Device Widths */
$xs: 768px; // Bootstrap's max-width for phones
$sm: 768px; // Bootstrap's min-width for tablets
$md: 992px; // Bootstrap's min-width for desktops
$lg: 1200px;// Bootstrap's min-width for large desktops

/* Media Queries */
$xs-query: "(max-width: #{$xs})";
$sm-query: "(min-width: #{$sm}) and (max-width: #{$md})";
$md-query: "(min-width: #{$md}) and (max-width: #{$lg})";
$lg-query: "(min-width: #{$lg})";


/* MIXINS */
/* Transitions */
@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-duration:    $duration;
  -o-transition-duration:      $duration;
  -webkit-transition-duration: $duration;
  transition-duration:         $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:    $timing;
  -o-transition-timing-function:      $timing;
  -webkit-transition-timing-function: $timing;
  transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}


/* PAGE CONTENT */
/* General */
// For parallax scrolling
html, body {
  height: 100%;
}
body {
  position: relative;
}
// center content
.center {
  margin: 0 auto;
}
// override link colors
a {
  color: white;
  @include transition-property(color);
  @include transition-duration(180ms);
  @include transition-timing-function(ease-out);
  &:hover {
    color: darken(white, 20%);
  }
}

/* Typography */
// Override font used in Bootstrap theme
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
body, .tooltip, .popover {
  font-family: "Roboto", sans-serif !important;
}
h1, .h1 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100;
}
// Center section titles
.section-title {
  text-align: center;
}

/* Header Section */
#page-header {
  padding: 11.0vh 0;
  margin: 0;
  height: 90%;
  // For parallax
  background: url("../img/banner/blurred/banner00-blur-wide-progressive.jpg") no-repeat fixed center;
  background-size: cover;
  // For positioning of .scroll-arrow-container
  position: relative;
}
#title {
  text-shadow: 1px 1px 1px $text-shadow-color;
  text-align: center;
}
.scroll-arrow-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* Navbar */
#navbar, .navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0px;
}
.navbar-brand {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
}
// Override hover color
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover {
  color: darken(white, 20%);
}
// Ensure affixed elements appear above other elements
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
// For smoother affixing
.affix ~ .container-fluid {
  position: relative;
  top: 50px;
}
.navbar-default {
  background-color: $navbar-color;
}

/* About Section */


/* Contact Section */
// SVG links
.svg {
  -webkit-filter: invert(1);
  filter: invert(1);
  vertical-align: bottom;
}
// Contact button text
span.contact-btn {
  // make text invisible on xs screen widths
  @media #{$xs-query} {
    display: none;
  }
}
// Text color for contact links
.btn-contact {
  color: white;
  @include transition-property(background-color);
  @include transition-duration(180ms);
  @include transition-timing-function(ease-out);
}
// Specific link colors
#contact-email {
  background-color: $email;
  &:hover {
    background-color: darken($email, 20%);
  }
}
#contact-linkedin {
  background-color: $linkedin;
  &:hover {
    background-color: darken($linkedin, 20%);
  }
}
#contact-github {
  background-color: $github;
  &:hover {
    background-color: darken($github, 20%);
  }
}
#contact-bitbucket {
  background-color: $bitbucket;
  &:hover {
    background-color: darken($bitbucket, 20%);
  }
}
