/* page header */

#page-header {
  margin: 0;
  height: 40%;
  // For parallax
  background: url("../../img/banner/blurred/banner00-blur-wide-progressive.jpg") no-repeat fixed center;
  background-size: cover;
  // For positioning of .scroll-arrow-container
  position: relative;
}
#title {
  font-weight: 100;
  text-shadow: 1px 1px 1px $text-shadow-color;
  text-align: center;
}
.scroll-arrow-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}
hr.header {
  border: none;
  background-color: white;
  height: 1px;
  margin: auto;
  max-width: 1050px;
}