/* Styles for navbar */

#navbar, .navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  // Hide navbar-brand when not affixed
  visibility: hidden;
  opacity: 0;
  // Transition when width changes
  @include transition(visibility 0s linear, opacity 100ms ease-out);

  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
}

#navbar.affix > div > div.navbar-header > a.navbar-brand {
  visibility: visible;
  opacity:1;
}

// Ensure affixed elements appear above other elements
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
// For smoother affixing
.affix ~ .container-fluid {
  position: relative;
  top: 50px;
}
.navbar-default {
  background-color: $navbar-color;
}

// TODO: navbar toggle border and hover colors