// ================================================================================
// Breakpoints
// ================================================================================

// --------------------------------------------------------------------------------
// Variables
// --------------------------------------------------------------------------------
// Breakpoint values, keeping in line with Material UI:
// https://mui.com/material-ui/customization/breakpoints/#default-breakpoints
$xs: '0px';
$sm: '600px';
$md: '900px';
$lg: '1200px';
$xl: '1536px';

// --------------------------------------------------------------------------------
// Mixins
// --------------------------------------------------------------------------------

@mixin xs {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

