// ================================================================================
// Images
// ================================================================================
@use 'breakpoints' as *;

// Common (centered/block display)
@mixin img-common {
  display: block;
  margin: 0 auto;
}

// TODO: use different units for responsive widths, percent gets weird

// Profile image
img.profile-image {
  @include img-common;
  width: 50%;
  @include sm {
    width: 40%;
  }
  border-radius: 4px;
}

// Project images
img.project-image {
  @include img-common;
  // TODO: maybe have additional classes for portrait vs landscape images, landscape is kinda small at these sizes
  width: 70%;
  @include sm {
    width: 40%;
  }
  border-radius: 4px;
}
