// ================================================================================
// Images
// ================================================================================
@use 'breakpoints' as *;

// Common (centered/block display)
@mixin img-common {
  display: block;
  margin: 0 auto;
}

// Profile image
img.profile-image {
  @include img-common;
  // Profile image should be contained in an element that has a maxWidth set based on the breakpoint.
  // (Makes it less messy that way)
  width: 100%;
  border-radius: 16px;
}

// Project images
img.project-image {
  @include img-common;
  border-radius: 16px;

  // Sizes for landscape images
  @include xs {
    width: 70%;
  }
  @include sm {
    width: 60%;
  }
  @include md {
    width: 50%;
  }

  // Sizes for portrait images
  &.portrait {
    @include xs {
      width: 50%;
    }
    @include sm {
      width: 40%;
    }
    @include md {
      width: 30%;
    }
  }
}
