/* Styling used for multiple pages or sections */

/* PAGE CONTENT */

// Highlight colors
::selection {
  background: $brand-primary; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $brand-primary; /* Gecko Browsers */
}

html, body {
  height: 100%; // For parallax scrolling
}

body {
  position: relative; // For parallax scrolling
  font-weight: 300; // default font is Roboto Light
}

// center content TODO: reorganize scss and make helper class section
.center {
  margin: 0 auto;
}

// add transition animation to links
a {
  @include transition-property(color);
  @include transition-duration(180ms);
  @include transition-timing-function(ease-out);
}

/* Typography */

// Center section titles
.section-title {
  text-align: center;
}
// Give panel headings the same font weight as headings
.panel-heading {
  font-weight: $headings-font-weight;
}